<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Kart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/css/pico.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="icon" type="image/png" href="static/images/favicon.png">
</head>

<body>
  <div class="container">
    <article>
      <header>
        Nouveau joueur
      </header>
      <form>
        <label for="name">
          Pseudo
          <input type="text" id="name" name="name" placeholder="Jean-Yves" required>
        </label>

        <table>
          <tbody>
            <tr>
              <td scope="row"><label for="large">
                  <input type="radio" id="large" name="size" value="large">
                  <img src="static/characters/MK8_BabyDaisy_Icon.png" width="50" />
                </label></td>
              <td><label for="large">
                  <input type="radio" id="large" name="size" value="large">
                  <img src="static/characters/MK8_BabyDaisy_Icon.png" width="50" />
                </label></td>
              <td><label for="large">
                  <input type="radio" id="large" name="size" value="large">
                  <img src="static/characters/MK8_BabyDaisy_Icon.png" width="50" />
                </label></td>
            </tr>
            <tr>
              <td scope="row"><label for="large">
                  <input type="radio" id="large" name="size" value="large">
                  <img src="static/characters/MK8_BabyDaisy_Icon.png" width="50" />
                </label></td>
              <td><label for="large">
                  <input type="radio" id="large" name="size" value="large">
                  <img src="static/characters/MK8_BabyDaisy_Icon.png" width="50" />
                </label></td>
              <td><label for="large">
                  <input type="radio" id="large" name="size" value="large">
                  <img src="static/characters/MK8_BabyDaisy_Icon.png" width="50" />
                </label></td>
            </tr>
            <tr>
              <td scope="row"><label for="large">
                  <input type="radio" id="large" name="size" value="large">
                  <img src="static/characters/MK8_BabyDaisy_Icon.png" width="50" />
                </label></td>
              <td><label for="large">
                  <input type="radio" id="large" name="size" value="large">
                  <img src="static/characters/MK8_BabyDaisy_Icon.png" width="50" />
                </label></td>
              <td><label for="large">
                  <input type="radio" id="large" name="size" value="large">
                  <img src="static/characters/MK8_BabyDaisy_Icon.png" width="50" />
                </label></td>
            </tr>
            <tr>
              <td scope="row"><label for="large">
                  <input type="radio" id="large" name="size" value="large">
                  <img src="static/characters/MK8_BabyDaisy_Icon.png" width="50" />
                </label></td>
              <td><label for="large">
                  <input type="radio" id="large" name="size" value="large">
                  <img src="static/characters/MK8_BabyDaisy_Icon.png" width="50" />
                </label></td>
              <td><label for="large">
                  <input type="radio" id="large" name="size" value="large">
                  <img src="static/characters/MK8_BabyDaisy_Icon.png" width="50" />
                </label></td>
            </tr>
          </tbody>
        </table>

        <button type="submit">Créer</button>
      </form>
      <button onclick="location.href='/'" class="secondary outline">Annuler</button>
    </article>
  </div>

</body>

</html>