<!DOCTYPE html>
<html lang="fr">
{{template "head.html"}}

<body>
  <div class="container">
    <article>
      <header>
        Rejoindre la saison
        <p>Rejoindre la saison conserve les points de la saison précédente</p>
      </header>
      <form>
        <fieldset>
          {{range .LastPlayers}}
          <div>
            <input type="radio" id="id" name="id" value="{{.Id}}">
            <img src="static/characters/{{.Icon}}.png" width="50" />
            {{.Name}}
          </div>
          {{end}}
        </fieldset>
        <button type="submit">Rejoindre</button>
      </form>
    </article>
    <footer>
      <a role="button" href="/new" class="outline">Créer un nouveau joueur</a>
      <br /><br />
    </footer>
  </div>

  {{template "footer.html"}}
</body>

</html>