<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Kart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/css/pico.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="icon" type="image/png" href="static/images/favicon.png">
</head>

<body>
  <nav class="container-fluid">
    <ul>
      <li><strong>Kart</strong></li>
    </ul>
    <ul>
      <li><a href="/">Ranking</a></li>
      <li><a href="/races">Races</a></li>
      <li><a href="/stats">Stats</a></li>
    </ul>
  </nav>

  <main class="container">
   <p>En construction</p>
  </main>

</body>

</html>