<!DOCTYPE html>
<html lang="fr">
{{template "head.html"}}

<body>
  {{template "nav.html"}}

  <main class="container">
    <table>
      <thead>
        <tr>
          <th scope="col">1er</th>
          <th scope="col">2eme</th>
          <th scope="col">3eme</th>
          <th scope="col">4eme</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {{range .Races}}
        <tr onclick="location.href='/results?race_id={{ .Id }}'" style="cursor:pointer">
          {{range .Players}}
          <td scope="row">
            {{if .Name}}
            <img src="static/characters/{{.Icon}}.png" width="30" alt="{{ .Name }}"> {{ .Name }}
            {{end}}
          </td>
          {{end}}
          <td scope="row">{{ .Date }}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
    <br /><br />
    <a href="/races?season=1" class="secondary">Voir Season 1</a>
  </main>
  {{template "footer.html"}}

</body>

</html>