<!DOCTYPE html>
<html lang="fr">
{{template "head.html"}}

<body>
  {{template "nav.html"}}

  <main class="container">
    <hgroup>
      <h4>Ranking Season {{ .Season }}</h4>
      <p><em>Fin dans {{ .TimeUntilSeasonEnd }}</em></p>
    </hgroup>
    <a href="/submit" role="button">Nouvelle course</a>
    <p></p>
    <table>
      <tbody>
        {{ range .RankedPlayers }}
        <tr onclick="location.href='/player?id={{ .Id }}'" style="cursor:pointer">
          <th scope="row"><b>{{ .Rank }}</b></th>
          <th><img src="static/characters/{{ .Icon }}.png" width="30" /> {{ .Name }}{{if eq .Rank 1}} 👑{{end}}</th>
          <th><kbd>{{.Rating}} pts</mark></kbd><br />{{ .RacesCount }} courses</small></th>
        </tr>
        {{ end }}
      </tbody>
    </table>

    <hgroup>
      <h5>Joueurs non-classés</h5>
      <p><em>Minimum {{ .MinRacesCount }} courses pour être classé</em></p>
    </hgroup>
    <table>
      <tbody>
        {{ range .UnrankedPlayers }}
        <tr onclick="location.href='/player?id={{ .Id }}'" style="cursor:pointer">
          <th scope="row">—</th>
          <th><img src="static/characters/{{ .Icon }}.png" width="30" /> {{ .Name }}{{if eq .Rank 1}} 👑{{end}}</th>
          <th><kbd>{{.Rating}} pts</mark></kbd><br />{{ .RacesCount }} courses</small></th>
        </tr>
        {{ end }}
      </tbody>
    </table>
    <footer>
      <a href="/new" class="secondary">Ajouter un joueur</a>
    </footer>
  </main>

  {{template "footer.html"}}
</body>

</html>