<!DOCTYPE html>
<html lang="fr">
{{template "head.html"}}

<body>
  {{template "nav.html"}}

  <main class="container">
    <hgroup>
      {{if .IsCompetitionActive}}
      <h4>Classement Season {{.Season}}</h4>
      <p><em>Fin de la compétition dans {{.TimeUntilEnd}}</em></p>
      {{else}}
      <h4>Classement Final Season {{.Season}}</h4>
      <p><mark>La compétition est terminée pour cette saison.</mark><br />
        <em>La prochaine saison débute dans {{.TimeUntilEnd}}</em>
      </p>
      {{end}}
    </hgroup>
    {{if .IsCompetitionActive}}
    <a href="/submit" role="button">Nouvelle course</a>
    {{end}}
    <p></p>
    <table>
      <tbody>
        {{range .RankedPlayers}}
        <tr onclick="location.href='/player?id={{.Id}}'" style="cursor:pointer">
          <th scope="row"><b>{{.Rank}}</b></th>
          <th><img src="static/characters/{{.Icon}}.png" width="30" /> {{.Name}}{{if eq .Rank 1}} 👑{{end}}</th>
          <th><kbd>{{.Rating}} pts</mark></kbd><br />{{.RacesCount}} courses</small></th>
        </tr>
        {{end}}
      </tbody>
    </table>

    {{if .IsCompetitionActive}}
    <hgroup>
      <h5>Joueurs non-classés</h5>
      <p><em>Minimum {{.MinRacesCount}} courses pour être classé</em></p>
    </hgroup>
    <table>
      <tbody>
        {{range .UnrankedPlayers}}
        <tr onclick="location.href='/player?id={{.Id}}'" style="cursor:pointer">
          <th scope="row">—</th>
          <th><img src="static/characters/{{.Icon}}.png" width="30" /> {{.Name}}</th>
          <th>{{.RacesCount}} courses</small></th>
        </tr>
        {{end}}
      </tbody>
    </table>
    <footer>
      <a role="button" href="/new" class="secondary outline">Ajouter un joueur</a>
      <br /><br />
    </footer>
    {{end}}
  </main>

  {{template "footer.html"}}
</body>

</html>