<!DOCTYPE html>
<html lang="fr">

{{template "head.html"}}

<body>
  <div class="container">
    <article>
      <header>
        Participants
      </header>
      <fieldset id="participants">
        {{range .Players}}
        <label id="{{ .Id }}" for="field_{{ .Id }}">
          <input type="checkbox" id="field_{{ .Id }}" name="{{ .Id }}">
          <img src="static/characters/{{ .Icon }}.png" width="50" /><b>{{ .Name }}</b>
        </label>
        {{end}}
      </fieldset>
      <button onclick="confirm();">Continuer</button>
      <button onclick="location.href='/'" class="secondary outline">Annuler</button>
    </article>
  </div>
  {{template "footer.html"}}

</body>

</html>

<script>
  function confirm() {
    let fieldset = document.getElementById("participants");
    let ids = []
    for (child of fieldset.children) {
      const checked = document.getElementById("field_" + child.id).checked
      if (checked) {
        ids.push(child.id)
      }
    }
    window.location.href = `/submit?participants=${ids.join(',')}`;
  }
</script>